body {
    background-color: white;
    color: black;
}

a:link { color: blue; }
a:visited { color: #800080; }
a:active { color: red; }

.logo { text-align: center; }
.logo a { border: 0; }
.logo img { border: 0; margin: 0; }

h1 { text-align: center; }

.sserif { font-family: Arial, Helvetica, sans-serif; }

table.bugtable {
  background-color: #cccccc;
  border: 1px solid black;
}

.bugtable td, .bugtable th {
  border: 1px solid black;
}

.bugtable td {
  background-color: white;
}

.rc {
  color: red;
}
