/* display config */
.config {
	border: 1px solid #b3b2b2;
}

/* package table */
.packagetable {
	font-size: small;
	border-collapse: collapse;
}

.packagetable tr.odd { background-color: #ffffff; }
.packagetable tr.even { background-color: #dcdcdc; }

.packagetable th {
	border: 1px solid #000000;
	color: green;
	padding: 2px;
}
.packagetable td {
	border: 1px solid #000000;
	padding: 2px;
	text-align: center;
}

td.packagenamecell {
	text-align: left;
}

/* hyperlinks */
a:hover {
	background: #eeeeee;
	text-decoration: underline;
}
a.packagename {
	font-weight: bold;
	white-space: nowrap;
}
a.packagename:link, a.packagename:visited {
	color: black;
	text-decoration: none;
}
a.dash:link, a.dash:visited {
	text-decoration: none;
}

/* dists and subdists */
.oldstable { color:#00aa00 }
.stable { color:#00aadd }
.testing { color:#b400ff }
.unstable { color:green }
.experimental { color:#2222aa }
.nmu { color:red }

.incoming { color:#ff9c00 }
.deferred { color:#ff5f89 }
.new { color:#616161 }

.security { color:red; font-style:italic; }
.proposed-updates { color:#2222aa; font-style:italic; }
.proposed-updates-new { color:#4444bb; font-style:italic; }
.bpo { color:#7400ff }

/* DEHS */
.uptodate { color:green }
.behind { color:#ff00ff }
.ahead { color:#2222aa }
.error { color:red }
